<%- include("./partials/header") %>

<div class="container below-nav">
<div class="row">
    <div class="col-sm-6">
<h2>detail</h2>

    </div>
    <div class="col-sm-4">

<div class="thumbnail">
    <img class="img-responsive" src="<%= products.image %>">
    <div class="caption-full">
        <h4 class="pull-right">
            R12/each
        </h4>
        <h4>

            <a>	<%=products.name%></a>
         </h4>
        <p>
<%=products.description%>
</p>

        <a class="btn btn-xs btn-warning" href="/brands/<%=products._id%>/edit">edit</a>
        <form class="delete-form" action="/brands/<%=products._id%>?_method=DELETE" method=POST>
            <button  class="btn btn-xs btn-danger">
                delete
            </button>
        </form>
    
    </div>
</div>

</div>











<%- include("./partials/footer") %>