<%- include("./partials/header") %>





<div class="container below-nav">
<div class="row">
    <div class="col-sm-6">
<h2>left side</h2>
<img src="<%= products.image %>">
    </div>
    <div class="col-sm-4">
<h2>right side</h2>
<h4><%=products.name%></h4>
<p><%= products.description %></p>
    </div>
</div>
</div>



















<%- include("./partials/footer") %>